<h3>Was ist möglich?</h3>

<ul>
    <li ng-repeat="cocktail in cocktails">
        <div>
            <a ng-href="#/cocktails/{{ cocktail.id }}">{{ cocktail.name }}</a>
            <button type="button" ng-click="mixCocktail(cocktail)">Mixen</button>
        </div>
        <div ng-if="mixMessages[cocktail.id] && mixMessages[cocktail.id].length" class="mix-ausgabe">
            <div ng-repeat="line in mixMessages[cocktail.id] track by $index">{{ line }}</div>
        </div>
    </li>
</ul>

<div class="milk-summary">
    <button type="button" ng-click="calculateMilkSummary()">Milchbedarf berechnen</button>
    <div ng-if="milkMessages.length" class="mix-ausgabe">
        <div ng-repeat="line in milkMessages track by $index">{{ line }}</div>
    </div>
</div>
