<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Favoriten</title>
</head>

<body>
<h3><a th:href="@{/}">Cocktails App</a> &gt; Favoriten</h3>

<ul>
    <li th:each="cocktail : ${cocktails}">
        <form th:action="@{/favorites/toggle}" method="post" style="display:inline;">
            <input type="hidden" name="cocktailId" th:value="${cocktail.id}" />
            <button type="submit" th:text="${cocktail.favorite ? '-' : '+'}"></button>
        </form>
        <a th:href="@{/cocktails/{id}(id=${cocktail.id})}" th:text="${cocktail.name}"></a>
        <span th:text="' (Favoriten: ' + ${cocktail.favoriteCount} + ')'"></span>
    </li>
</ul>
</body>

</html>
